@page "/vehicles/"
@using System.Diagnostics

@inject HttpClient _Http
@inject IJSRuntime js
<h3 class="card-card-title">Cars</h3>



@if (Elements == null)
{
    <div class="alert alert-info">Loading....</div>
}
else
{
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Filter..."
        @bind="Filter"
        @bind:event="oninput">
    </div>
    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Marki samochodów</h6>
        </div>
        <div class="card-body">
            <table class="table table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created by</th>
                        <th scope="col">UpdatedBy</th>
                        <th scope="col">Data0</th>
                        <th scope="col">Button</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Elements)
                    {

                        if (!IsVisible(vehicle))
                        {
                            continue;
                        }
                        <tr>
                            <td>@vehicle.Id</td>
                            <td>@vehicle.Model.Name</td>
                            <td>@vehicle.CreatedBy</td>
                            <td>@vehicle.UpdatedBy</td>
                            <td typeof="data">@vehicle.DateCreated</td>
                            <td>
                                <a href="/Vehicless/view" class="btn btn-warning btn-circle btn-sm">
                                        <i class="fas fa-exclamation-triangle"></i>
                                 </a>

                                <button class="btn alert-danger btn-circle btn-sm" @onclick="(()=> Delete(vehicle.Id))">
                                     <i class="far fa-trash-alt"></i>
                            </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    private List<Vehicle>? Elements ;
    public string? Filter { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Elements = await _Http.GetFromJsonAsync<List<Vehicle>>(Static.Endpoints.VehiclesEndpoint);
    }

    private async Task Delete(int id)
    {
        try{
            var confirm = await js.InvokeAsync<bool>("confirm", "Do you want delete?");
            if (confirm)
            {
                var back = await _Http.DeleteAsync($"api/Vehicless/{id}");
                await OnInitializedAsync();
            }
        }
        catch(Exception ex)
        {
            
        }

    }

    public bool IsVisible(Vehicle vehicle)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if(vehicle.Model.Name != null)
        if (vehicle.Model.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }
}